@let _result = result();
@let controls = form.controls;
@let info = currentInfo();

<h2 tuiTitle="m">
  {{title}}
</h2>

@if (info) {
  <p>{{info.tariff}}</p>
}

<div
  tuiAppearance="info"
  class="card"
  tuiCardMedium
>
  <h2 tuiTitle="m">
    <div tuiSubtitle>Акции в наличии</div>
  </h2>

  <footer class="card__footer">
    <tui-textfield>
      <label tuiLabel>Количество акций</label>
      <input
        tuiInputNumber
        [min]="1"
        [step]="1"
        [formControl]="controls.currentShares"
      />
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>Средняя цена</label>
      <input
        tuiInputNumber
        [postfix]="'RUB' | tuiCurrency"
        [formControl]="controls.averagePrice"
      />
      <tui-icon tuiTooltip="Средняя цена акций в текущем портфеле" />
    </tui-textfield>
  </footer>
</div>

<div
  tuiAppearance="info"
  class="card"
  tuiCardMedium
>
  <h2 tuiTitle="m">
    <div tuiSubtitle>К покупке</div>
  </h2>

  <footer class="card__footer">
    <tui-textfield>
      <label tuiLabel>Цена к покупке</label>
      <input
        tuiInputNumber
        [postfix]="'RUB' | tuiCurrency"
        [formControl]="controls.currentMarketPrice"
      />
      <tui-icon tuiTooltip="Цена акций, планируемых к покупке" />
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>Желаемая средняя цена</label>
      <input
        tuiInputNumber
        [postfix]="'RUB' | tuiCurrency"
        [formControl]="controls.targetPrice"
      />
      <tui-icon tuiHintDirection="right" tuiTooltip="Целевая средняя цена акций в портфеле" />
    </tui-textfield>
  </footer>
</div>

<button
  size="m"
  tuiButton
  type="button"
  class="button-calc"
  (click)="showResult()"
>
  Расчитать
</button>

@if (_result) {
  <div class="result">
    <h2 tuiTitle="m">
      Результат
      <div tuiSubtitle>Нужно докупить {{ _result.sharesToBuy }} акций, на сумму: {{_result.newTotalCost.toFixed(2)}} {{'RUB' | tuiCurrency}}</div>
      <div tuiSubtitle>Новая средняя цена: {{ _result.newAveragePrice.toFixed(2) }} {{ 'RUB' | tuiCurrency }}</div>
    </h2>
  </div>
}
