@let _result = result();
@let controls = form.controls;

<main class="main">
  <div class="content">
    <h2>Рассчет средней цены акций</h2>
    <div class="field">
      <input type="number" [formControl]="controls.currentShares" placeholder="Текущее количество акций">
    </div>
    <div class="field">
      <input type="number" [formControl]="controls.averagePrice" placeholder="Текущая средняя цена (руб.)">
    </div>
    <div class="field">
      <input type="number" [formControl]="controls.targetPrice" placeholder="Желаемая средняя цена (руб.)">
    </div>
    <div class="field">
      <input type="number" [formControl]="controls.currentMarketPrice" placeholder="Текущая рыночная цена (руб.)">
    </div>
    <div class="field">
      <button class="calculate" (click)="showResult()">Расчитать</button>
    </div>

    @if (_result) {
      <div class="result">
        <p>Нужно докупить {{ _result.sharesToBuy.toFixed(1) }} акций, на сумму: {{_result.totalCost}} руб.</p>
        <p>Новая средняя цена: {{ _result.newAveragePrice.toFixed(2) }} руб.</p>
      </div>
    }
  </div>
</main>
