@let _result = result();
@let controls = form.controls;

<main class="main">
  <div class="content">
    <h2>{{title}}</h2>

    <div class="own-stocks">
      <p>Акции в наличии</p>
      <div class="fields">
        <div class="field">
          <input type="number" [formControl]="controls.currentShares" placeholder="Количество акций">
        </div>
        <div class="field">
          <input type="number" [formControl]="controls.averagePrice" placeholder="Средняя цена, руб.">
        </div>
      </div>
    </div>

    <div class="buy-stocks">
      <p>К покупке</p>
      <div class="fields">
        <div class="field">
          <input type="number" [formControl]="controls.targetPrice" placeholder="Желаемая средняя цена, руб.">
        </div>
        <div class="field">
          <input type="number" [formControl]="controls.currentMarketPrice" placeholder="Рыночная цена, руб.">
        </div>
      </div>
    </div>

    <div class="field">
      <button class="calculate" (click)="showResult()">Расчитать</button>
    </div>

    @if (_result) {
      <div class="result">
        <p>Нужно докупить {{ _result.sharesToBuy }} акций, на сумму: {{_result.newTotalCost.toFixed(2)}} руб.</p>
        <p>Новая средняя цена: {{ _result.newAveragePrice.toFixed(2) }} руб.</p>
      </div>
    }
  </div>
</main>
