:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  flex-direction: column;
  align-items: center;
  max-width: 720px;
  width: 100%;
}

.calendar {
  margin-top: 20px;
}

.info {
  width: 100%;
  margin-top: 10px;
}

.exchange {
  max-width: 720px;
  width: 100%;
  margin-top: 20px;
}
.exchange__cards {
  display: flex;
  gap: 70px;
  margin-top: 24px;
}
