@let instrumentItem = instrument();
@let stockSectorName = sectorName();

@if (instrumentItem) {
  @let realExchange = getRealExchange(instrumentItem.realExchange);

  <div class="main-container">
    @defer {
      <app-stock-card
        [sectorName]="stockSectorName"
        [instrument]="instrumentItem"
        (toggleFavorite)="toggleFavorite(instrumentItem)" />
    }

<!--    <div class="info">-->
<!--      <tui-tabs [(activeItemIndex)]="activeTabIndex">-->
<!--        <button-->
<!--          tuiTab-->
<!--          type="button"-->
<!--          [routerLink]="'/' + stocksPage + '/' + stockItem.ticker"-->
<!--          (click)="onClick('Review')">-->
<!--          Обзор-->
<!--        </button>-->
<!--        <button-->
<!--          tuiTab-->
<!--          type="button"-->
<!--          routerLink="pulse"-->
<!--          (click)="onClick('Pulse')">-->
<!--          Пульс-->
<!--        </button>-->
<!--        <button-->
<!--          tuiTab-->
<!--          type="button"-->
<!--          routerLink="dividends"-->
<!--          (click)="onClick('Dividends')">-->
<!--          Дивиденды-->
<!--        </button>-->
<!--        <button-->
<!--          tuiTab-->
<!--          type="button"-->
<!--          routerLink="news"-->
<!--          (click)="onClick('News')">-->
<!--          Новости-->
<!--        </button>-->
<!--      </tui-tabs>-->

<!--      <router-outlet [routerOutletData]="stockItem"></router-outlet>-->
<!--    </div>-->
  </div>

  <section class="calendar">
    <a
      iconEnd="@tui.arrow-right"
      tuiLink
      [routerLink]="'/'+routes.calculator"
    >
      Перейти к калькулятору
    </a>
  </section>

  <section class="exchange">
    <h2 tuiTitle="m">
      О компании {{ instrumentItem.name }}
    </h2>

    <div class="exchange__cards">
      <div tuiTitle>
        <span tuiSubtitle>Страна эмитента</span>
        <div>
          <tui-avatar
            class="stock__logo"
            appearance="primary"
            size="xs"
            [style.background]="instrumentItem.countryOfRiskName | tuiAutoColor"
             />
          {{ instrumentItem.countryOfRiskName }}
        </div>
      </div>

      <div tuiTitle>
        <span tuiSubtitle>Биржа торгов</span>
        <div>
          <tui-avatar
            class="stock__logo"
            appearance="primary"
            size="xs"
            [style.background]="realExchange | tuiAutoColor" />
          {{ realExchange }}
        </div>
      </div>
    </div>
  </section>
}
