<h2 tuiTitle>
  <b>Получить доступ к брокерскому счету</b>
  <div
    tuiSubtitle
    [style.color]="'var(--tui-text-secondary)'"
  >
    Для получения токена нужно авторизоваться в мобильном приложении Т-Банка
  </div>
</h2>

<tui-textfield tuiTextfieldSize="l" class="textarea">
  <label tuiLabel>Введите токен</label>
  <textarea
    [formControl]="formControl"
    [max]="10"
    [min]="5"
    tuiTextarea
  ></textarea>
</tui-textfield>

<button
  size="m"
  tuiButton
  type="button"
  appearance="accent"
  [disabled]="formControl.invalid"
  (click)="saveToken()">
  Сохранить
</button>
