<style>
  .card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    block-size: auto;
    gap: 10px;
    cursor: pointer;
  }
  .avatar {
    display: flex;
  }
  .content {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    gap: 6px;
  }
  .price {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    gap: 6px;
  }
  .current-price {
    margin-left: 8px;
  }
  .expected-yield {
    top: -2px;
    position: relative;
    color: #888;
  }
  .expected-yield_negative {
    color: crimson;
  }
  .expected-yield_positive {
    color: forestgreen;
  }
</style>

@let _position = position();
@let currentPrice = combinePrice(_position.currentPrice.units, _position.currentPrice.nano);
@let expectedYield = combinePrice(_position.expectedYield.units, _position.expectedYield.nano);
@let currencySymbol = _position.currentPrice.currency | uppercase | tuiCurrency;
@let _quantityUnits = quantityUnits();
@let totalPrice = _quantityUnits * currentPrice;
@let _logoUrl = logoUrl();
@let logoSrc = _logoUrl ? _logoUrl : (_position.ticker | tuiInitials);
@let name = instrument()?.name ?? _position.ticker;

<div
  tuiAppearance="floating"
  tuiCardMedium
  class="card"
  [routerLink]="[_position.ticker]"
>
  <tui-avatar
    class="avatar"
    [src]="logoSrc"
    [style.background]="_position.ticker | tuiAutoColor"
  />

  <div class="content">
    <h2 tuiTitle class="card__name">
      {{name}}
      <!--    <span tuiSubtitle>Subtitle</span>-->
    </h2>
    <div>
      <span>{{_quantityUnits | tuiAmount | async}} шт.</span>
      <span class="current-price">{{currentPrice | tuiAmount: currencySymbol : 'right' | async}}</span>
    </div>
  </div>

  <div class="price">
    <div>{{totalPrice | tuiAmount: currencySymbol : 'right' | async}}</div>
    <div class="expected-yield"
      [class.expected-yield_negative]="expectedYield < 0"
      [class.expected-yield_positive]="expectedYield > 0">{{expectedYield | tuiAmount: currencySymbol : 'right' | async}}
    </div>
  </div>
</div>
